body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
.container {
  display: grid;
  grid-auto-flow: column;
  gap: 2vw;
  justify-content: center;
  margin-top: 20vh;
  /* border: 1px solid black; */
}
.playername {
  width: 35vw;
  height: 1rem;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid black;
}
p {
  font-size: 2rem;
  justify-self: center;
  /* border: 1px solid black; */
}
.enter {
  display: block;
  padding: 1rem;
  margin: 0.5rem auto;
  border-radius: 8px;
}
.start {
  margin-top: 25vh;
}
.start-button {
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  border-radius: 50%;
}
.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60vh;
  width: 50vw;
  margin: 6rem auto;
  border-radius: 4px;
  /* border: 1px solid black; */
}
.cells {
  border: 1px solid black;
}
.player-names,
.player-names-board {
  display: grid;
  grid-auto-flow: column;
  /* border: 1px solid black; */
}
